{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row banner menu">
	<div class="col-md-11 col-md-offset-1 padding-none">
		<h1>Edit Track</h1>
			<a href = "{{url_for('showTrack',artist_name = artist.name, track_title=track.title)}}">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
		    </a>
	</div>		
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-1 padding-top">
		<form action="#" method = "post">
			<div class="form-group">
				<label for="title">Title:</label>
				<input type ="text" maxlength="100" class="form-control" name="title" value="{{track.title }}">
				<div class="divider"></div>
				<label for="video">URL-video:</label>
				<input type ="text" maxlength="100" class="form-control" name="video" value="{{track.video}}">
				<div class="divider"></div>	
				<label for="description">Lyrics:</label>
    			<textarea class="form-control" rows="10" name="lyrics">{{track.lyrics}}</textarea>
				<div class="divider"></div>				
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save
				</button>					
			</div>
		</form>				
	</div>
</div>
{% endblock %}