{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider"></div>
	<div class="row banner artist">
		<div class="col-md-5 col-md-offset-1 padding-none">
			<picture>
				<img src={{ artist.picture }} alt="Artist Photo"
					title={{ artist.name }}>
			</picture>
		</div>
		<div class="col-md-5">
		<h1>{{ artist.name }}</h1>
		</div>
		<div class="col-md-2"></div>
	</div>	
	{% if tracks !=[] %}
		{% for track in tracks %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<div class="track-item">
					<a href="{{url_for('showTrack',artist_name = artist.name, track_title=track.title)}}">
						<h2 class="glyphicon glyphicon-music"> {{track.title}}</h2>																
					</a>
				</div>						
			</div>
			<div class="col-md-7">
				<label class="lyrics-description">{{track.lyrics}}</label>
			</div>
			<div class="col-md-1"></div>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
