{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Track</h1>
			<a href = "{{url_for('showTracks',artist_name = artist.name)}}">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
		</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Title:</label>
					<input type ="text" class="form-control" name="title" placeholder="">
					<label for="course">Video:</label>
					<input type ="text" maxlength="50" class="form-control" name="video" placeholder="URL of the video">
					<label for="description">Lyrics:</label>
					<textarea class="form-control" rows="10" name="lyrics" placeholder=""></textarea>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

