{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">		
		<div class="col-md-6 padding-none">
			<h2>Artists</h2>
			{% for artist in artists %}
			<a href = "{{url_for('showTracks', artist_name = artist.name)}}">
			<div class="row">					
				<h4>{{artist.name}}</h4>
			</div>
			</a>
			{% endfor %}
		</div>
		<div class="col-md-6 padding-none">
			<h2>Latest Tracks</h2>
			{% for last in latest %}
			<a href = "{{url_for('showTrack', artist_name = last[0], track_title=last[1])}}">
			<div class="row">					
				<h4>{{last[1]}} ( {{last[0]}})</h4>
			</div>
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
