{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ artist.name }}
			</h1>

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('addTrack')}}">
				<button class="btn btn-default" id="new-menu-item">
					<span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Add Track
				</button>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if tracks !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
					{% for i in tracks %}
							<div class="menu-item">
								<a href="{{url_for('showTrack',artist_name = artist.name, track_title=i.title)}}">
								<h3>{{i.title}}</h3>																
								</a>
							</div>						
			</div>
			<div class="col-md-6">
				<p>{{i.video}}</p>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-1"></div>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}
