{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-6 col-md-offset-1 padding-none">
			<a href = "{{url_for('showTracks', artist_name = artist.name)}}">
			<h2>{{ artist.name }}</h2>
			</a>			
		</div>
	</div>	

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div>
		<a href="{{url_for('editTrack',artist_id = artist.id, track_id=track.id)}}">
			<button class="btn btn-default">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit
			</button>
		</a>
		<a href="{{url_for('deleteTrack',artist_id = artist.id, track_id=track.id)}}">
		<button class="btn btn-default">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Delete
			</button>
		</a>
	{% if track %}	
		<div class="row">
			<div class="col-md-6">
				<h3 class="text-center">{{ track.title }}</h3>
				<p class="lyrics">{{track.lyrics}}</p>				
			</div>
			<div class="col-md-6">
			<iframe width="420" height="315"
				src="{{video}}">
				</iframe>
			</div>
		</div>
	{% endif %}
{% endblock %}