* {
	box-sizing: border-box;
	font-family: 'Lato', sans-serif, Arial, sans-serif;
	font-weight: 700;
}

body {
	margin-top: 5px;
	margin-right: 50px;
	margin-bottom: 35px;
	margin-left: 50px;
	/*background: #C1E1A6;*/
}

h1 {
	font-family: 'Lato', sans-serif, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #1d1d1d;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
 p {
 	font-family: 'Lato', sans-serif, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
 }

 strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 }

 a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
	margin-left: 5px;
	margin-right: 5px;
 }
.padding-top {
	padding-top: 30px;
}
.padding-bottom {
	padding-bottom: 30px;
}
.margin-right {
	margin-right: 30px;
}
.padding-none {
	padding: 0;
}
.btn {
	padding: 10px;
	margin: 5px;
	border-color: #909090;
	border-width: 2px;
	color: #9FB80A;
	float: left;
}
.btn:hover {
	border-color: #646464;
}
.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}
.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}
.glyphicon {
	margin-right: 10px;
}
.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}
.divider {
	height: 10px;
}
.divider.blue {
	background-color: #006871;
}
.banner.main {
	height: 150px;
	background: url("/static/top-banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner.artist {
	height: auto;
	background-color: #f3f1ff;
}
.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}
.banner h1 {
	margin: 45px 0;
}
 .artist-list {
 	padding-left: 20px;
	margin-left: -20px;
}
.track-item {
	background: #F0F0F0;
	padding-left: 20px;
	margin: 20px;
	margin-left: -20px;
}
.lyrics-description {
	overflow:hidden;
	height: 100px;
	margin-top: 20px;
}
.lyrics {
	white-space: pre;
	text-align: center;
}
.text-center {
	text-align:center;
}
.delete-margin {
	margin-top: 80px;
}
.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}
.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}